<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net471" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="Unity" version="5.10.2" targetFramework="net471" />
</packages>